{% extends 'base.html' %}
{% include 'post.html' %}
{% block content %}

<div>
    <form action="" method="post">{% csrf_token %}
        <div class="row collapse">
            <div class="large-12 columns">
                <div class="panel">
                    <input type="text" name="question_title">
                    <input type="text" name="question_content">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
</div>

<ul class="small-block-grid-2 large-block-grid-4">
  <li><img src="../img/demos/demo1.png"></li>
  <li><img src="../img/demos/demo2.png"></li>
  <li><img src="../img/demos/demo3.png"></li>
  <li><img src="../img/demos/demo4.png"></li>
</ul>

<div class="row collapse">
    <div class="large-12 columns">
        {% for question in questions %}
            <div class="panel">
                <a href="posts/{{question.id}}"><h4>{{ question.title }}</h4></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}