{% extends 'base.html' %}
{% include 'post.html' %}
{% block content %}

<div>
    <form action="" method="post">{% csrf_token %}
        <div class="row collapse">
            <div class="large-12 columns">
                <div class="panel">
                    <h3>Ask anything</h3>
                    <input type="text" name="question_title">
                    <textarea name="question_content"></textarea>
                    <input class="button" type="submit">
                </div>
            </div>
        </div>
    </form>
</div>

<ul class="small-block-grid-3">
    {% for question in questions %}
    <li>
        <div class="panel">
            <a href="posts/{{question.id}}"><h4>{{ question.title }}</h4></a>
        </div>
    </li>
    {% endfor %}
</ul>

<!--<div class="row collapse">
    <div class="large-12 columns">
        {% for question in questions %}
            <div class="panel">
                <a href="posts/{{question.id}}"><h4>{{ question.title }}</h4></a>
            </div>
        {% endfor %}
    </div>
</div>-->

{% endblock %}