{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block nav_bar_content %}
<div>
    <form class="navbar-form pull-right" action="/login">
      <input class='btn btn-inverse' type='submit' value='Login' style="color:#DCE419;" />
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <!--Body content-->
      <div class="hero-unit well alert">
        <h1 style="margin-bottom:15px;">Quaterloo!</h1>
        <p style="color:#000000;">A great solution to all of the collaboration problems in universities.</p>
      </div>
      <div class="row well alert=success">
        <div class="span4 alert">
          <h2 style="color:#000000;">Post your problems.</h2>
           <p style="color:#000000;">Post your assignment/project questions you want to discuss.</p>
        </div>
        <div class="span4 alert">
          <h2 style="color:#000000;">Chat with classmates</h2>
           <p style="color:#000000;">Participate in giving back by chatting constructively with classmates to provide solutions.</p>
       </div>
        <div class="span4 alert">
          <h2 style="color:#000000;">WIN!.</h2>
          <p style="color:#000000;">Everybody wins!!</p>
        </div>
      </div>
      <!--End body-->
    </div>
  </div>
</div>
{% endblock %}