{% extends 'base.html' %}

{% block content %}

{% if new_post %}

<div>
    <form action="" method="post">{% csrf_token %}
        <div class="row collapse">
            <div class="large-12 columns">
                <div class="panel">
                    <input type="text" name="question_title">
                    <input type="text" name="question_content">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}


{% if question.title %}

<div id="question">
  <div class="row collapse">
    <div class="large-12 columns">
      <div class="panel">
        <h4 class="media-heading">{{question.title}}</h4>
        <p class="media-content">{{question.content}}</p>
      </div>
    </div>
  </div>
</div>


<div class="answers">
    <div class="row">
        <div class="small-6 small-1 columns">&#9658;</div>
        <div class="small-6 large-11 columns">
            {% for answer in answers %}
            <div class="panel">
                <p>{{ answer.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div>
    <form action="" method="post">{% csrf_token %}
        <div class="row collapse">
            <div class="large-12 columns">
                <div class="answer_form">
                    <textarea name="answer_content"></textarea>
                    <input class="button" type="submit" value="Answer">
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}

{% endblock %}